extends layout
block content
  p Welcome to #{title}
  #sensors
    - each s in sensors
      div.sensor
        div.title= s.name
        div.data(id=s.name+'_data')
        script(type='text/javascript')
          addData(#{s.name});
