extends layout

block content
  p Welcome to #{title}
  #articles
    - each d in data
      div.article
        div.created_at= d.timestamp
        div.title 
            a(href="/blog/"+d._id)!= d.name
        div.body= d.value